@keyframes hover-vibrate {
  0%,
  100% {
    transform: translateY(0);
  }
  10%,
  50%,
  90% {
    transform: translateY(-3px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateY(0);
  }
  30%,
  70% {
    transform: translateY(3px);
  }
}

.hover-element:hover {
  animation: hover-vibrate 0.4s ease-in-out;
}
